body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 60%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px rgb(37, 184, 150);
    border-left: 7px solid blue;
}

#full-satck {
    border-left: 7px solid tomato;
}

footer {
    text-align: center;
}